/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.notice {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-height: 3rem;
  width: 90%;
  background: linear-gradient(to bottom, #cae5cd, #3eb370);
  border: 2px solid #2a854f;
  color: #000;
  font-weight: 500;
  margin: auto 20px;
  padding-left: 1rem;
  border-radius: 5px;
}

.alert {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-height: 3rem;
  width: 90%;
  background: linear-gradient(to bottom, #ffd5d5, #ff2b2b);
  border: 2px solid #d50000;
  color: #000;
  font-weight: 500;
  margin: auto 20px;
  padding-left: 1rem;
  border-radius: 5px;
}