@charset "utf-8";

.login-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #d9d9d9;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px 30px;
}

.form-label {
  font-size: 1.2rem;
}

.form-field {
  border: none;
  height: 2rem;
  font-size: 1.1rem;
}

.form-student-no {
  width: 10rem;
}

.form-password {
  width: 15rem;
}

.form-submit {
  display: block;
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  margin-left: auto;
  margin-right: 30px;
}

.form-submit:hover {
  cursor: pointer;
  background-color: #a9a9a9;
}